body{
}


.content{
	height:100%;
	width:100%;
}
.supTitle{
	font-size: 0.3em;
	letter-spacing: 0em;
}
.font_2{
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 80px;
	line-height: 1.2em;
	font-family: 'noticia text', serif;
	color: #003366;
}
.warningMessage{
	color:red;
}
#contactPage input, #contactPage textArea{
	background-color:#a14141;
	width:100%;
	color:rgb(196, 196, 196);
}
input{
	height:25px;
	border:none;
	text-indent: 2px;
	font-size:13px;

}
textArea{
	height:130px;
	resize:none;
	border:none;
	text-indent: 2px;
	font-size:13px;
	padding-right: 0em
}
.submitFormBtn{
	width:20%;
	border:none;
	float:right;
	padding-right:0;
	border-radius:10px;	
}
#page1{
	margin-top:8%;
}
#introContainer{
	background-color: rgba(211,211,211,0.2);
	margin-top:3%;
	position:initial;
}
.introText{
	text-align: justify;
	font-size:1.1em !important;	
}

#intro{
	padding-bottom: 2%;
	margin-left:5.6%;
	padding-top:2%;
	margin-right:5.6%;
	
	
}
.applicationTwoText{
	padding-bottom: 2%;
	margin-left:5.6%;
	padding-top:2%;
	margin-right:5.6%;
	

}
#organizationName{
	padding-top:5% !important;
}
#organizationName,#hardware,#applications,#applicationsOne,#team,#contactPage{
	margin-left:5.6%;
	margin-right:5.6%;
	
		
}
.backgroundLogo{

	background-color: rgba(211,211,211,0.2);
	height: 25%;
	width: 100%;
	margin-top: 26%;
	position: absolute;
}
.logo{
	padding-top:5%;
	margin-left:1.1%;
}
hr{
	color:#C0C0C0;
	margin-top:3%;
	margin-bottom:3%;
}
.title{
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;;
	font-size: 3.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 76px;
	color:#c52726;
	letter-spacing:0.3em;
}
.applicationHeader{
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 76px;
	text-align:center;
	color:#0066CC;
	letter-spacing:0.3em;
}
#applicationTwo{
	
	background-color:rgba(211,211,211,0.2);
	margin-top:3%;
	margin-bottom:3%;
	
}


p {
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.1em;
	color:#666666;
}
.hardwareDesc{
	font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.1em;
	color:#666666;
}
.hardwareImg{
	width:200px;
	height:200px;
	padding-right:20%;
}
.hardwareTable{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.wearHacksLogo{
	max-height: 2em;
	padding: 10%;
}
.textUnderPicture{
	style:text-align:center;
	font-size:11px;
}
.iframe{
	padding:1%;
	width:65%;
}
.teamDesc{
	text-align:center;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	padding-top:2%;
}
.virtualSurgeryText{
	width:50%;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.riftImages{
	max-width:100%;
}







@media screen and (max-aspect-ratio:13/9) and (max-width: 1000px)  { /* Portrait Styles */
  	.logo img{
  	max-width:55% !important;
  	}
	.iframe{
	padding:1%;
	width:100%;
	height: 15em;
	}
	.teamDesc{
	float:none;
	padding:4%;
	width:auto;
	text-align:center;
	}
	.title{
	font-size:1.2em;
	text-align:center;
	}
	.backgroundLogo{
	height:47%;
	margin-top:65%;
	}
	.introText{
	margin-left:auto;
	}
	.wearHacksLogo{
	max-height:1em;
	}
	#intro{
	padding-top:0;
	padding-bottom:0;
	margin-left:5.6%;
	margin-right:5.6%;
	}
	
	
	#introContainer{
	background-color:rgba(211,211,211,0.2);
	margin-top:3%;
	margin-bottom:3%;
	padding: 3% 5%;
	position:initial;
	}
	
	
	
}
@media screen and  (min-aspect-ratio:13/9) and (max-width: 1000px) { /* Landscape styles */
  	.logo img{
  	max-width:55% !important;
  	}
	.iframe{
	padding:1%;
	width:100%;
	height: 27em;
	}
	.teamDesc{
	float:none;
	padding:4%;
	width:auto;
	text-align:center;
	}
	.title{
	font-size:1.2em;
	text-align:center;
	}
	.backgroundLogo{
	height:47%;
	margin-top:65%;
	}
	.introText{
	margin-left:auto;
	}
	.wearHacksLogo{
	max-height:1em;
	}
	#intro{
	padding-top:0;
	padding-bottom:0;
	margin-left:5.6%;
	}
	#introContainer{
	background-color:rgba(211,211,211,0.2);
	margin-top:3%;
	margin-bottom:3%;
	padding: 3% 5%;
	position:initial;
	}
	

	
}



